<mat-tab-group>
  <mat-tab label="Bar">
    <div class="flex flex-col gap-1 mt-2">
      @for (barItem of barList(); track barItem.id) {
        <app-food-item [foodItem]="barItem" />
      }
    </div>
  </mat-tab>
  <mat-tab label="Wine">
    <div class="flex flex-col gap-1 mt-2">
      @for (wineItem of wineList(); track wineItem.id) {
        <app-food-item
          [foodItem]="wineItem"
          (itemChanged)="onItemChanged($event)"
        />
      }
    </div>
  </mat-tab>
  <mat-tab label="Pasta">
    <div class="flex flex-col gap-1 mt-2">
      @for (pastaItem of pastaList(); track pastaItem.id) {
        <app-food-item
          [foodItem]="pastaItem"
          (itemChanged)="onItemChanged($event)"
        />
      }
    </div>
  </mat-tab>
  <mat-tab label="Main">
    <div class="flex flex-col gap-1 mt-2">
      @for (mainItem of mainList(); track mainItem.id) {
        <app-food-item
          [foodItem]="mainItem"
          (itemChanged)="onItemChanged($event)"
        />
      }
    </div>
  </mat-tab>
  <mat-tab label="Dessert">
    <div class="flex flex-col gap-1 mt-2">
      @for (dessertItem of dessertList(); track dessertItem.id) {
        <app-food-item
          [foodItem]="dessertItem"
          (itemChanged)="onItemChanged($event)"
        />
      }
    </div>
  </mat-tab>
</mat-tab-group>
