<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <app-table-places (submitPeople)="handleCountStepper($event)">
    </app-table-places>
  </mat-step>
  <mat-step>
    <app-food-list (itemUpdated)="handleItemUpdate($event)"></app-food-list>
  </mat-step>
  <mat-step>
    <div>
      <button
        mat-button
        type="submit"
        color="primary"
        (click)="submitOrder()"
        [disabled]="!firstFormGroup.value.places"
      >
        submit order
      </button>

      <!-- <button matButton matStepperPrevious>Back</button>
      <button matButton (click)="stepper.reset()">Reset</button> -->
    </div>
  </mat-step>
</mat-stepper>
