<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <app-table-places (submitPeople)="handleCountStepper($event)">
    </app-table-places>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
    <app-food-list></app-food-list>
    </form>
  </mat-step>
  <mat-step>
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
